.category {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px 10px;
  margin-bottom: 34px;
  max-width: 400px;
  border-radius: 5px;
  transition: box-shadow 0.2s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  @media screen and (max-width: 1000px) {
    max-width: 150px;
  }
  @media screen and (max-width: 730px) {
    font-size: 12px;
    .category {
      display: flex;
      flex-direction: column;
    }
  }
  span {
    cursor: pointer;
    font-weight: bold;
    &:hover {
      text-decoration: underline;
    }
  }
}
